* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Lato-Black", "Helvetica", sans-serif;
  text-overflow: clip;

  background-color: #000000;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;

  background-color: #ffffff;
}

.wrapper-header {
  position: sticky;
  top: 0;
  z-index: 20;

  background-color: #2d303a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  height: 95px;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

@media (max-width: 767px) {
  .hamburger {
    z-index: 5;

    display: block;
    width: 25px;
    height: 20px;

    background: url("./assets/Burger-menu-icon.png") center no-repeat;
    cursor: pointer;
  }
}

#hamburger {
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  transform: rotate(90deg);
}

.hamburger__menu {
  position: fixed;
  top: 0;
  left: -100%;

  display: block;
  width: 278px;
  height: 100%;
  margin: 0;
  padding: 0 0 0 71px;

  list-style: none;

  background-color: #2d303a;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.active-menu {
  left: 0;

  visibility: visible;
}

.logo {
  padding-bottom: 7px;
}

.logo h1 {
  font-size: 2.5rem;
  font-family: "Lato-Bold";
  color: #ffffff;
  letter-spacing: -0.8px;
}

.logo span {
  color: #f06c64;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation li {
  padding-left: 12px;

  list-style-type: none;
}

li.navigation__item_separator {
  padding-top: 5.5px;
  padding-right: 2px;

  font-size: 1rem;
}

.navigation__link {
  font-size: 1.2rem;
  font-family: "Lato-Regular";
  color: #ffffff;
  text-decoration: none;
}

.navigation__link:hover {
  color: #f06c64;
}

.navigation__link-active {
  color: #f06c64;
}

.navigation__item_separator {
  color: #494e62;
}

.wrapper-slider {
  overflow: hidden;

  background-color: #f06c64;
  box-shadow: 0 -6px 0 0 #f06c64;
}

#phone_vert {
  position: absolute;
  top: 54px;
  left: 72px;
  z-index: 3;

  width: 215px;
  height: 458px;
}

#phone_hor {
  position: absolute;
  top: 177px;
  left: 384px;
  z-index: 3;

  width: 458px;
  height: 215px;
}

#phone_vert .display {
  position: absolute;
  top: 65px;
  left: 14px;

  width: 188px;
  height: 333px;
}

#phone_hor .display {
  position: absolute;
  top: 14px;
  left: 61px;

  width: 333px;
  height: 188px;
}

.display-off {
  background-color: #000000;
}

.slider {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  height: 600px;
  margin: 0 auto;
}

.slider__img {
  position: relative;
}

.slide-single {
  position: absolute;
  left: -40px;

  transition: all ease 1s;
}

.slider__arrow-right {
  z-index: 2;

  order: 1;
  padding: 0 3px 8px 0;

  transform: scaleX(-1);
}

.slider__arrow-left {
  z-index: 2;

  padding: 0 0 8px 2px;
}

.slider__arrow-left:hover {
  transform: scale(1.2);

  transition-duration: 0.2s;
}

.slider__arrow-right:hover {
  transform: scaleX(-1) scale(1.2);

  transition-duration: 0.2s;
}

.wrapper-services {
  background-color: #f2f2f2;
  box-shadow: 0 -6px 0 0 #ea676b, inset 0 -6px 0 0 #ffffff;
}

.services {
  max-width: 940px;
  margin: 0 auto;
  padding: 45px 0 38px 0;
}

.services__title {
  margin: auto;
  padding-top: 14px;

  font-size: 3rem;
  font-family: "Lato-Black";
  color: #666d89;
}

.services__description {
  padding-top: 18px;

  font-size: 1.8rem;
  line-height: 29px;
  font-family: "Lato-Light";
  text-align: justify;
  color: #767e9e;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 970px;
  padding-top: 46px;

  list-style-type: none;
}

.services-list li {
  display: grid;
  margin: 0 19.5px 38.5px 0;

  grid-template-columns: 80px 220px;
  grid-template-rows: 30px 54px;
}

.services-list li:nth-of-type(3) h3 {
  padding-left: 1.5px;
}

.services-list li:nth-of-type(6) h3 {
  padding-left: 2px;
}

.services-list__img {
  padding-top: 2px;

  grid-row: 1/2;
}

.services-list__title {
  font-size: 1.8rem;
  font-family: "Lato-Black";
  color: #666d89;

  grid-column: 2/3;
}

.services-list__description {
  font-size: 1.2rem;
  line-height: 21px;
  font-family: "Lato-Regular";
  text-align: justify;
  color: #767e9e;

  grid-column: 2/3;
}


.wrapper-portfolio {
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 0 #323746;
}

.portfolio {
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 53px;
}

.portfolio__title {
  padding-top: 59px;

  font-weight: 400;
  font-size: 3rem;
  font-family: "Lato-Black";
  color: #666d89;
}

.portfolio__description {
  padding-top: 22px;

  font-weight: 300;
  font-size: 1.8rem;
  font-family: "Lato-Light";
  text-align: justify;
  color: #767e9e;
}

.portfolio__tags {
  padding-top: 18px;
  padding-left: 2px;

  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Lato-Regular";
  color: #767e9e;
}

.tag {
  margin-right: 7px;
  padding: 3px 6px 4px 5.5px;

  border: 1px solid #666d89;
  border-radius: 10%;
}

.tag-active {
  color: #dedede;

  border: 1px solid #c5c5c5;
}

.tag:hover {
  color: #dedede;

  border: 1px solid #c5c5c5;
  cursor: pointer;
}

.portfolio__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 23px;
  overflow: hidden;
}

.portfolio__block img:nth-child(n+13) {
  display: none;
}

.portfolio__image {
  margin-bottom: 20px;
}

.portfolio__image-active {
  border: 5px solid #f06c64;
}

.wrapper__about-us {
  padding-bottom: 73px;

  background-color: #f2f2f2;
  box-shadow: inset 0 -6px 0 0 #ffffff;
}

.about-us {
  max-width: 940px;
  margin: 0 auto;
}

.about-us__title {
  padding-top: 59px;
  padding-left: 1px;

  font-weight: 400;
  font-size: 3rem;
  font-family: "Lato-Black";
  color: #666d89;
}

.about-us__description {
  padding-top: 18px;

  font-weight: 300;
  font-size: 1.79rem;
  line-height: 30px;
  font-family: "Lato-Light";
  text-align: justify;
  color: #767e9e;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 45px;
}

.employee__content {
  width: 300px;
}

.employee__content:nth-of-type(2) {
  margin-right: 1px;
}

.employee__name {
  padding-top: 12px;
  overflow: hidden;

  font-weight: 400;
  font-size: 1.8rem;
  font-family: "Lato-Black";
  color: #666d89;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.employee__description {
  padding-top: 8px;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 21px;
  font-family: "Lato-Regular";
  text-align: justify;
  color: #767e9e;
}

.contact {
  display: flex;
  padding-top: 22px;

  list-style: none;
}

.icon {
  width: 34px;
  height: 34px;
  margin-left: 6px;

  cursor: pointer;
}

.icon:hover {
  background-color: #f06c64;
  border-radius: 50%;
}

.contact__icon-facebook {
  margin: 0;

  background-image: url("./assets/facebook.svg");
}

.contact__icon-google {
  background-image: url("./assets/google.svg");
}

.contact__icon-twitter {
  background-image: url("./assets/twitter.svg");
}

.contact__icon-linkedin {
  background-image: url("./assets/linkedIn.svg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato-Black", "Helvetica", sans-serif;
  text-overflow: clip;

  background-color: #000000;
}

.wrapper-quote {
  background-color: #f06c64;
  box-shadow: inset 0 -6px 0 0 #ea676b;
}

.quote {
  width: 940px;
  margin: 0 auto;

  color: #f0d8d9;
}

.quote__title {
  padding-top: 59px;

  font-weight: 400;
  font-size: 3rem;
  font-family: "Lato-Black";
}

.quote__description {
  padding-top: 19px;

  font-size: 1.8rem;
  line-height: 29px;
  font-family: "Lato-Light";
  text-align: justify;
}

.two-columns {
  display: flex;
  padding: 43px 0 24px 0;
}

form {
  width: 619px;
  padding-top: 2px;
}

input {
  width: 619px;
  height: 38px;
  margin-bottom: 16px;
  padding: 0 0 1px 15px;

  background-color: #d6564f;
  border: 0;
  border-radius: 5px;
}

input::placeholder {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Lato-Regular";
  color: #f48c8f;
}

textarea {
  width: 619px;
  height: 202px;
  padding: 10px 0 0 15px;

  background-color: #d6564f;
  border: 0;
  border-radius: 5px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Lato-Regular";
  color: #f48c8f;
}

button {
  margin-top: 10px;
  padding: 10px;

  font-size: 1.3rem;
  font-family: "Lato-Regular";
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #f48c8f;
}

.contact {
  display: flex;
  flex-direction: row;

  list-style: none;
}

.contact .icon {
  width: 34px;
  height: 34px;

  cursor: pointer;
}


.contact-information {
  padding-left: 21px;
}

.contact-information__title {
  font-weight: 400;
  font-size: 1.8rem;
  font-family: "Lato-Black";
}

.contact-information__description {
  padding-top: 8px;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 22px;
  font-family: "Lato-Regular";
  text-align: justify;
}

.contacts-info {
  padding-top: 23.5px;

  list-style: none;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Lato-Regular";
}

.contacts-info a {
  color: #f0d8d9;
  text-decoration: none;
}

.contacts-info__address {
  padding: 0 0 6px 1px;
}

.contacts-info__address span {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 12px;

  background: url("assets/ico-location-pin.png") center no-repeat;
}

.contacts-info__phone span {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 12px;

  background: url("assets/ico-phone-contacts.png") center no-repeat;
}

.contacts-info__phone {
  padding: 0 0 7px 1px;
}

.contacts-info__email span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-right: 7px;

  background: url("assets/ico-mail.png") center no-repeat;
}

.hidden {
  display: none;
}

.message-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: #0008;
}

.message {
  position: absolute;
  top: 50%;
  left: 35%;

  width: 400px;
  padding: 5px;

  text-align: center;
  color: #2d303a;

  background-color: #f2f2f2;
  border-radius: 20px;
}

.wrapper-footer {
  background-color: #2d303a;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 0 0 18px 0;
}

.footer__copyright {
  padding-top: 18px;

  font-size: 1.2rem;
  font-family: "Lato-Regular";
  color: #666d89;
}

@media (max-width: 1019px) and (min-width: 768px) {

  .services,
  .services-list,
  .quote,
  .footer {
    width: unset;
    height: unset;
  }

  header,
  .slider,
  .portfolio,
  .about-us,
  .services,
  .quote,
  .footer {
    max-width: 695px;
  }

  .slider {
    height: 452px;
  }

  .slide-single {
    left: -37px;

    width: 768px;
  }

  #phone_vert {
    top: 41px;
    left: 47px;

    width: 162px;
    height: 345px;
  }

  #phone_vert .display {
    top: 48px;
    left: 11px;

    width: 142px;
    height: 252px;
  }

  #phone_hor {
    top: 134px;
    left: 284px;

    width: 345px;
    height: 162px;
  }

  #phone_hor .display {
    top: 10px;
    left: 44px;

    width: 251px;
    height: 142px;
  }

  .employee__content {
    width: 219px;
  }

  .employee__content>img {
    width: 219px;
    height: 219px;
  }

  input,
  textarea {
    width: 442px;
  }

  .footer__copyright {
    display: none;
  }

  .footer {
    justify-content: center;
  }
}

@media (max-width: 767px) and (min-width: 375px) {

  .services-list,
  .quote,
  .footer,
  form,
  .two-columns {
    width: unset;
  }

  header,
  .portfolio,
  .about-us,
  .services,
  .quote,
  .footer {
    max-width: 315px;
  }

  .footer__copyright,
  .navigation {
    display: none;
  }

  .slider {
    max-width: 355px;
    height: 220px;
  }

  img.slide-single {
    left: -10px;

    width: 375px;
    height: 220px;
  }

  #phone_vert {
    top: 20px;
    left: 32px;

    width: 79px;
    height: 168px;
  }

  #phone_hor {
    top: 65px;
    left: 147px;

    width: 167px;
    height: 79px;
  }

  #phone_vert .display {
    top: 23px;
    left: 4px;

    width: 70px;
    height: 123px;
  }

  #phone_hor .display {
    top: 4px;
    left: 19px;

    width: 125px;
    height: 70px;
  }

  .portfolio__image {
    width: 151px;
    height: 128px;
  }

  .wrapper__about-us {
    padding-bottom: 45px;
  }

  .contact {
    padding-bottom: 23px;
  }

  .contacts-info {
    padding-bottom: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  input,
  textarea {
    width: 315px;
  }

  .two-columns {
    display: unset;
  }

  button {
    width: 315px;
  }

  .footer {
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 374px) {

  .services-list,
  .quote,
  .footer,
  form,
  .two-columns {
    width: unset;
  }

  header,
  .portfolio,
  .about-us,
  .services,
  .quote,
  .footer {
    max-width: 300px;
  }

  .footer__copyright,
  .navigation {
    display: none;
  }

  .slider {
    max-width: 355px;
    height: 220px;
  }

  img.slide-single {
    left: -10px;

    width: 350px;
  }

  #phone_vert {
    top: 26px;
    left: 28px;

    width: 75px;
    height: 158px;
  }


  #phone_hor {
    top: 68px;
    left: 135px;

    width: 158px;
    height: 74px;
  }


  #phone_vert .display {
    top: 22px;
    left: 5px;

    width: 65px;
    height: 114px;
  }


  #phone_hor .display {
    top: 4px;
    left: 20px;

    width: 117px;
    height: 65px;
  }


  .portfolio__image {
    width: 145px;
  }

  .wrapper__about-us {
    padding-bottom: 45px;
  }

  .contact {
    padding-bottom: 23px;
  }

  .contacts-info {
    padding-bottom: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  input,
  textarea {
    width: 300px;
  }

  .two-columns {
    display: unset;
  }

  button {
    width: 300px;
  }

  .footer {
    justify-content: center;
    padding: 0;
  }
}